/* NORMALIZE */
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Tahoma, sans-serif;
  line-height: 1;
  background-color: #ffffff;
  height: 100%;
  position: relative;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

td, form {
  margin: 0px;
  padding: 0px;
}

a {
  color: #000100;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: local("../fonts/Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("../fonts/Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?4k4q4y");
  src: url("../fonts/icomoon.eot?4k4q4y#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?4k4q4y") format("truetype"), url("../fonts/icomoon.woff?4k4q4y") format("woff"), url("../fonts/icomoon.svg?4k4q4y#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right:before {
  content: "\e900";
}

.icon-chevron-left:before {
  content: "\e901";
}

.icon-chevron-down:before {
  content: "\e902";
}

.icon-chevron-up:before {
  content: "\e903";
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.wrapper {
  max-width: 1818px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: Proxima Nova Rg;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #1E2E36;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
  line-height: 125%;
}

h4 {
  font-size: 24px;
  line-height: 125%;
}

.btn {
  font-family: Proxima Nova Rg;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.menu__link {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;
  text-transform: uppercase;
}

.logo__text {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 125%;
}

.logo__text:first-letter {
  color: #44C697;
}

.btn-shop__text {
  font-family: Proxima Nova Rg;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;
  text-transform: uppercase;
}

.banner__slider-content__text {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 125%;
}

.banner__slider-content__numbering-slide {
  display: block;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;
}

.banner__slider-content__numbering-slide:first-letter {
  font-size: 36px;
}

.products__filter-title {
  font-size: 24px;
}

/*Buttons*/
.btn {
  display: block;
  padding: 14px 46px;
  background: #44C697;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  line-height: 125%;
}

.btn-shop {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: transparent;
}

.btn-shop img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.btn-slider {
  border-radius: 50%;
  border: 1px solid #1E2E36;
  background-color: transparent;
  padding: 5px;
}

/*End Buttons*/
/*HEADER*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 999;
  background-color: #FFFFFF;
  padding: 15px 20px;
}

.header .menu {
  margin-right: 20px;
}

.header .menu__item {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .menu li {
  position: relative;
}

.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu__list > li {
  margin: 0 15px 0 0;
  -webkit-transition: 3s all;
  transition: 3s all;
}

.header .menu .parent {
  margin: 0 16px 0 0;
}

.header .menu .arrow {
  display: none;
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 15px;
}

.header .menu .arrow.active {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.header .menu .sub-menu__list {
  display: none;
  z-index: 2;
  /* min-width: 250px; */
  position: absolute;
  left: 0;
  top: 20px;
  padding: 10px 0 0 0;
  border-left: 5px solid #44C697;
  -webkit-box-shadow: 10px 10px 12px -10px #1E2E36;
          box-shadow: 10px 10px 12px -10px #1E2E36;
}

.header .menu .sub-menu__list > li {
  background-color: #FFFFFF;
}

.header .menu .sub-menu__link {
  color: #1E2E36;
  display: block;
  padding: 5px 10px 5px 10px;
  white-space: nowrap;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .menu .sub-menu__link:hover {
  color: #FFFFFF;
  background-color: #44C697;
}

.header .logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  position: relative;
  margin-right: 20px;
  z-index: 1;
}

.header .logo a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo a img {
  width: 125px;
  height: 75px;
  margin-right: 15px;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__buttons .btn-shop {
  margin-right: 30px;
}

/*Mobile buttons active*/
body.mouse .menu__list > li:hover .sub-menu__list {
  display: block;
}

body.touch .sub-menu__list.open {
  display: block;
}

body.touch .arrow {
  display: block;
}

/*End HEADER*/
/*Banner*/
.banner {
  position: relative;
}

.banner__slider-item > img {
  -o-object-fit: fill;
     object-fit: fill;
  height: 785px;
  width: 100%;
}

.banner__slider-content {
  position: absolute;
  top: 0;
  width: 462px;
  text-align: center;
  padding: 100px 74px 140px 75px;
  margin-left: 15px;
  border-left: 15px solid #44C697;
  background-color: #FFFFFF;
}

.banner__slider-content h3 {
  padding-top: 50px;
}

.banner__slider-content__text {
  padding-top: 10px;
}

.banner__slider-content .btn {
  margin: 30px auto 50px;
}

.banner__slider-content__arrows {
  padding: 0;
  top: 61%;
}

.banner__slider-content__arrows .btn-slider {
  margin: 4px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.banner__slider-content__arrows .btn-slider:hover {
  background-color: #1E2E36;
}

.banner__slider-content__arrows .btn-slider:hover span {
  color: #FFFFFF;
}

.banner .icon-chevron-left,
.banner .icon-chevron-right {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 100%;
}

/*End Banner*/
h2 {
  padding: 35px 20px 0 20px;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 50px 20px;
}

.products input {
  -moz-appearance: checkbox;
       appearance: checkbox;
  -webkit-appearance: checkbox;
}

.products__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  -webkit-box-shadow: 0px 0px 50px -10px #1E2E36;
          box-shadow: 0px 0px 50px -10px #1E2E36;
  padding: 20px;
}

.products__filter-title {
  margin-bottom: 15px;
}

.products__filter-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 30px 0;
}

.products__filter-style .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.products__filter-style .custom-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.products__filter-style .custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #767676;
  border-radius: 2px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.products__filter-style .custom-checkbox:checked + label::before {
  border-color: #44C697;
  background-color: #44C697;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.products__filter-style .custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #44C697;
}

.products__filter-style hr {
  margin-top: 5px;
}

.products__filter-style .label-item {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__filter-style .label-item input {
  margin-right: 15px;
  height: 25px;
  width: 25px;
}

.products__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding: 0 25px 0;
  margin: -15px -10px;
  /* &-text_desc {
		}
		&-text_price {
		} */
}

.products__content-cards {
  position: relative;
  /* flex: 1 0 300px; */
  width: 300px;
  height: 200px;
  margin: 15px 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.products__content-cards:hover {
  -webkit-transform: perspective(500px) translate3d(0px, 0px, 20px);
          transform: perspective(500px) translate3d(0px, 0px, 20px);
}

.products__content-cards:hover .products__content-text {
  background-color: #44C697;
  color: #FFFFFF;
}

.products__content .cards-badges {
  position: absolute;
  top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.products__content .cards-badges__new {
  padding: 5px 15px;
  background-color: #1E2E36;
}

.products__content .cards-badges__share {
  display: inline-block;
  padding: 5px 15px;
  margin-top: 5px;
  background-color: #FF1B1B;
}

.products__content-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 170px;
}

.products__content-img img {
  width: 100%;
  height: 100%;
}

.products__content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  padding: 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/*# sourceMappingURL=style.css.map */