@import "vars";
@import "libs";
@import "fonts";
@import "global";

//Text style
body{
    font-family: Proxima Nova Rg;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: $text-color-dark;
}
h1{
	font-size: 64px;
}
h2{
	font-size: 48px;
}
h3{
	font-size: 36px;
	line-height: 125%;
}
h4{
	font-size: 24px;
	line-height: 125%;
}
.btn{
	font-family: Proxima Nova Rg;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}
.menu__link {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 125%;
	text-transform: uppercase;
}
.logo__text{
	
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 125%;
}
.logo__text:first-letter{
	color: $light-green-color;
}
.btn-shop__text{
	font-family: Proxima Nova Rg;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 125%;
	text-transform: uppercase;
}
.banner__slider-content__text{
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 125%;
}
.banner__slider-content__numbering-slide{
	display: block;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 125%;
}
 .banner__slider-content__numbering-slide:first-letter{
	font-size: 36px;
}
.products__filter-title{
	font-size: 24px;
}
//End text style
/*Buttons*/
.btn{
	display: block;
	padding: 14px 46px;
	background: $light-green-color;
	border:none;
	border-radius: 3px;
	color: $text-color-light;
	line-height: 125%;

}
.btn-shop{
	display: inline-flex;
	align-items: center;
	border: none;
	background-color: transparent;
	img{
		height: 30px;
		width: 30px;
		margin-right: 5px;
	}
}
.btn-slider{
	border-radius: 50%;
	border: 1px solid $text-color-dark;
	background-color: transparent;
	padding: 5px;
}
/*End Buttons*/
/*HEADER*/
.header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	// position: fixed;
	width: 100%;
	z-index: 999;
	background-color: $color-white;
	padding: 15px 20px;
	.menu {
		margin-right: 20px;
		&__item{
			transition: all 0.3s;
		}
		li{
			position: relative;
		}
		&__list {
			display: flex;
			&>li{
				margin: 0 15px 0 0;
				transition: 3s all;
			}
		}
		.parent{
			margin: 0 16px 0 0;
		}
		.arrow {
			display: none;
			position: absolute;
			top: 5px;
			right: 0;
			font-size: 15px;
		}
		.arrow.active{
			transform: rotate(-180deg);
		}
		.sub-menu__list {
			display: none;
			z-index: 2;
			/* min-width: 250px; */
			position: absolute;
			left: 0;
			top: 20px;
			padding: 10px 0 0 0;
			border-left: 5px solid $light-green-color;
			box-shadow: 10px 10px 12px -10px $text-color-dark;
			&>li{
				background-color: $color-white;
			}
		}
		.sub-menu__link {
			color: $text-color-dark;
			display: block;
			padding: 5px 10px 5px 10px;
			white-space: nowrap;
			transition: all 0.3s;
			&:hover{
				color: $text-color-light;
				background-color: $light-green-color;
			}
		}
	}
	.logo{
		flex: 0 1 auto;
		position: relative;
		margin-right: 20px;
		z-index: 1;
		a{
			display: inline-flex;
			align-items: center;
			img{
				width: 125px;
				height: 75px;
				margin-right: 15px;
			}
		}
	}
	&__buttons{
		display: flex;
		align-items: center;
		.btn-shop{
			margin-right: 30px;
		}
	}
}
/*Mobile buttons active*/
body.mouse .menu__list>li:hover .sub-menu__list{
	display: block;
}
body.touch .sub-menu__list.open{
	display: block;
}
body.touch .arrow{
	display: block;
}
/*End HEADER*/
/*Banner*/
.banner{
	position: relative;
	&__slider-item>img{
		object-fit: fill;
		height: 785px;
		width: 100%;
	}
	&__slider-content{
		position: absolute;
		top: 0;
		width: 462px;
		text-align: center;
		padding: 100px 74px 140px 75px;
		margin-left: 15px;
		border-left: 15px solid $light-green-color;
		background-color: $color-white;
		h3{
			padding-top: 50px;
		}
		&__text{
			padding-top: 10px;
		}
		.btn{
			margin: 30px auto 50px;
		}
		&__arrows{
			padding: 0;
			top: 61%;
			.btn-slider{
				margin: 4px;
				transition: 0.3s all;
				&:hover{
					background-color: $text-color-dark;
				}
				&:hover span{
					color: $color-white;
				}
			}
		}
	}
	.icon-chevron-left,
	.icon-chevron-right{
		font-size: 20px;
		letter-spacing: 0;
		line-height: 100%;
	}
}
/*End Banner*/
//sidebar
h2{
	padding: 35px 20px 0 20px;
}
.products{
	display: flex;
	align-items: start;
	padding: 50px 20px;
	
	input{
		appearance: checkbox;
		-webkit-appearance: checkbox;
	}
	&__filter{
		display: flex;
		flex-direction: column;
		width: 300px;
		box-shadow: 0px 0px 50px -10px $text-color-dark;
		padding: 20px;
		
		&-title{
			margin-bottom: 15px;
		}
		&-style{
			display: flex;
    		flex-direction: column;
			margin: 0 0 30px 0;
			.custom-checkbox {
				position: absolute;
				z-index: -1;
				opacity: 0;
				&+label {
					display: inline-flex;
					align-items: center;
					user-select: none;
				}
				&+label::before {
					content: '';
					display: inline-block;
					width: 25px;
					height: 25px;
					flex-shrink: 0;
					flex-grow: 0;
					border: 1px solid #767676;
					border-radius: 2px;
					margin-right: 15px;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: 50% 50%;
					transition: all 0.3s ease;
				}
				&:checked+label::before {
					border-color: $light-green-color;
					background-color: $light-green-color;
					background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
				}
				&:not(:disabled):not(:checked)+label:hover::before {
				 border-color: $light-green-color;
				}
			}
			
			hr{
				margin-top: 5px;
			}
			.label-item{
				margin-bottom: 10px;
    			display: flex;
				align-items: center;
				input{
					margin-right: 15px;
					height: 25px;
					width: 25px;
				}
			}
		}
	}

	&__content {
		display: flex;
		width: 100%;
		justify-content: start;
		flex-wrap: wrap;
		position: relative;
		padding: 0 25px 0;
		margin: -15px -10px;
		&-cards {
			position: relative;
			/* flex: 1 0 300px; */
			width: 300px;
			height: 200px;
			margin: 15px 10px;
			transition: all 0.3s linear;
			&:hover{
				transform: perspective(500px)  translate3d(0px,0px,20px);
			}
			&:hover .products__content-text{
				background-color: $light-green-color;
				color: $text-color-light;
			}
		}
		.cards-badges{
			position: absolute;
			top: 10px;
			font-size: 14px;
			text-transform: uppercase;
			color: $text-color-light;
			&__new{
				padding: 5px 15px;
				background-color: $text-color-dark;
			}
			&__share{
				display: inline-block;
				padding: 5px 15px;
				margin-top: 5px;
				background-color: $text-color-red;
			}
		}
		&-img {
			display: flex;
			width: 300px;
			height: 170px;
			img{
				width: 100%;
				height: 100%;
			}
		}
		&-text {
			display: flex;
			justify-content: space-between;
			text-transform: uppercase;
			padding: 10px;
			transition: all 0.3s linear;
		}
		/* &-text_desc {
		}
		&-text_price {
		} */
	}
	
}



@import "media";
